body {
    background-color: #daffe2;
}

.cabecalho {
    background-color: #4a6944;
    color: rgb(231, 248, 255);
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 50px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30%;
}

.texto {
    text-align: center;
    font-size: 25px;
    padding: 50px;
}

.imgcentro {
    width: 400px;  /* Define uma largura fixa (pode ser ajustada) */
    height: 400px;  /* Define uma altura fixa e igual à largura */
    border-radius: 50%;  /* Transforma o elemento em um círculo/oval */
    object-fit: cover;  /* Garante que a imagem preencha o círculo sem distorção, cortando as bordas extras, se necessário */
    display: 200px;  /* Garante que a imagem se comporte como um bloco para centralização básica se necessário */
    border: 3px solid #333;  /* Borda opcional */
    margin: 0 auto;
}

nav {}

li {
    display: inline-block;


}

li a {
    font-size: 50px;

}

button {
    padding: .5em 2em;
    border: 0;
    border-bottom: 3px solid;
    font-size: 1.2em;
    cursor: pointer;
    margin: 0;
    margin-top: -3px;
    color: #fff;
    background-color: #0cd337;
    border-color: #04324c;
    width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;

}

button:active {
    margin-top: 0px;
    border: 0;
}

button[disabled=disabled],
button:disabled {
    background-color: rgb(128, 128, 128);
    border-color: darkgray;

}