body { 
    background-color: #daffe2;
}

.cabecalho{
    background-color: #4a6944;
    color: rgb(231, 248, 255);
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 50px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30%;
}

h1{
    text-align: center;
    font-size: 60px;
}

.texto{
    text-align: center;
    font-size: 25px;
    padding: 50px;
}

.imgcentro{
    text-align: center;
}

nav{

}

li{
    display: inline-block;
   

}

li a{
    font-size: 50px;

}

button{
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#0cd337;
	border-color: #04324c;
	width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;

}

button:active{
	margin-top:0px;
	border: 0;
}
